@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

@function percent($px, $total: $base-font-size) {
    @return ($px / $total) * 100 + 0.0001%;
}

@function golden-ratio($px) {
    @return $px / 1.61803398875;
}

@mixin background-size($size: cover) {
    -webkit-background-size: $size;
    -moz-background-size: $size;
    background-size: $size;
}

@mixin border-radius($radius: 5px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($shadow: 0 1px 0 #0f0) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin box-sizing($value: border-box) {
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
    box-sizing: $value;
}

@mixin clearfix {
    /*  Source: http://www.css-101.org/articles/clearfix/latest-new-clearfix-so-far.php */
    &:after {
        clear: both;
        content: "";
        display: table;
    }
}

@mixin nearest-neighbor {
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -moz-crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
}

@mixin transition($transition: all 0.2s) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    transition: $transition;
}